.dashboard-container {
    margin-left: 120px;
    margin-top: 120px;
    color: #fff;
}

.dashboard-navbar {
    margin-top: 50px;
    margin-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.dashboard-navbar ul {
    list-style-type: none;
    display: flex;
    padding: 0;
}

.dashboard-navbar li {
    margin-right: 20px;
    font-size: 30px;
}


.user-profile {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.user-profile img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-right: 20px;
}

.user-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.user-info p {
    font-size: 20px;
    margin-bottom: 5px;
}

.dashboard-user-info{
    background-color: #000000;
    width: 100%;
    height: 200px;
    font-size: 35px;
   display: flex;
    justify-content: center;
    align-items: center;
    font-family:monospace;
}

.dashboard-navbar li {
    font-size: 28px;
    /* Initial font size */
    transition: font-size 0.2s;
    /* Smooth transition effect */
}

.dashboard-navbar li {
    cursor: pointer;
    margin-right: 20px;
    /* Adjust margin between navbar items */
    font-size: 30px;
    text-decoration: none; /* Remove default underline */
}

.dashboard-navbar li.active {
    text-decoration: underline;
}

