.user-posts-container {
    margin-top: 20px;
}

.post {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.post-title {
    font-size: 20px;
    margin-bottom: 5px;
}

.post-content {
    margin-bottom: 10px;
}

.comments-list {
    list-style: none;
    padding: 0;
}

.comment {
    background-color: #14121f;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 3px;
}

.user-posts-container button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.user-posts-container button:hover {
    background-color: #0056b3;
}