.home-container {
    margin-top: 80px;
    padding-left: 200px;
    background-color: #032641;
    padding-bottom: 100px;
}

.home-content {

    margin: 0 auto;
}

h1 {
    font-size: 2em;
    color: #ffffff;
    text-align: left;
    margin-left: 10px;
    margin-top: 50px;
}

