.MediaDetails {
    display: flex;
    color: white;
    flex-direction: column;
    margin-bottom: 100px;
}

.MediaDetails-container {
    /* Add your container styles here */
}

.backdrop {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    /* Adjust height as needed */
    background-color: #000;
    /* Fallback color */
    background-size: cover;
    background-position: top;

}

.details {
    position: absolute;
    top: 42%;
    left: 5%;

}

.poster {
    width: 200px;
    height: auto;
    /* Adjust width as needed */


}

.button-container {
    display: flex;
    background-color: #000000;
    display: flex;
    margin-top: auto;
    width: 100%;
    justify-content: space-evenly;


}

.rating-details {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 50px;
    margin-left: 5%;
    /* Adjust margin as needed */
}

.media-title {
    position: absolute;
    font-size: 40px;
    left: 20%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: transparent;
    /* Set text color to transparent */
    background-image: linear-gradient(to right, #b56bff, #4491c5);
    /* Define your gradient colors */
    -webkit-background-clip: text;
    /* Clip the text with the background */
    background-clip: text;
    /* Clip the text with the background */
}




.rating-star {
    margin-top: 15px;
    font-size: 20px;
}

.add-rating-button {
    margin-left: 15px;
    margin-top: 10px;
    padding: 10px 15px;
    font-size: 16px;
    background-color: #5522a2;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.media-details-info-div {
    margin-top: 20px;
    font-size: 20px;
    margin-left: 5%;
}

.media-overview {
    margin-top: 20px;
    font-size: 20px;
}

.overview-details {
    margin-left: 5%;
    margin-right: 20%;
}

.overview-details div {
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #4c83ca;
}

.review-box {
    margin-top: 20px;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
}

.review-box div {
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #4c83ca;

}

.review-textbox {
    width: 50%;
    padding: 10px;
    font-size: 20px;
    background-color: rgb(54, 91, 146);
    color: rgb(255, 247, 247);
    border: none;
    border-radius: 5px;
    resize: vertical;
    /* Allow vertical resizing */
}

.review-textbox::placeholder {
    color: white;
    /* Set placeholder text color */
}


.add-review-button {
    margin-top: 10px;
    padding: 5px 0px;
    font-size: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 10%;
}


.add-review-button:hover {
    background-color: #0056b3;
}

/* CSS for the rating modal content */
.rating-modal-content {
    background-color: #32749c;
    padding: 20px;
    border-radius: 10px;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    margin-top: 10%;
}

.btnrating {
    border: none;
    background: transparent;

}

/* CSS for rating options container */
.rating-options {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;

}

/* CSS for submit and close buttons */

.field-label-header {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;

}

.rating-submit-button,
.rating-close-button {
    background-color: #007bff;
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    margin-right: 10px;
    width: 120px;
    font-weight: bold;
    /* Same width for both buttons */
}

.btnrating:hover {
    background: transparent;
}

/* CSS for hover effect on buttons */
.rating-submit-button:hover,
.rating-close-button:hover {
    background-color: #542b9f;
}

/* CSS to center buttons */
.rating-button-container {
    display: flex;
    justify-content: center;
}

.fa-star {
    color: #000000;
    font-size: 30px;
    cursor: pointer;
    width: 100%;

}

.fa-star:hover {
    cursor: pointer;
    color: #ffcc00;
}

.gold {
    color: #ffcc00;
}

.media-details-heart-icon {
    margin-top: 3px;
    font-size: 25px;
    color: rgb(104, 104, 104);
    cursor: pointer;
}