/* mediaDetails.css */

.MediaDetails-container {
    color: #ffffff;
}

.backdrop {
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 40%;

}

.details {
    position: absolute;
    top: 55%;
    left: 5%;


}

.poster {
    width: 200px;
    border: 5px solid #000000;
    margin-bottom: 5px;



}

.media-details-info-div {

    position: absolute;
    top: 42%;
    left: 25%;
    color: #ffffff;
    display: block;
    font-size: 20px;



}

.media-overview {
    position: absolute;
    color: #ffffff;
    top: 60%;
    left: 5%;
    right: 20%;
    font-size: 20px;
}

/* mediaDetails.css */

/* Existing CSS... */

.review-textbox {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    /* Allow vertical resizing */
}


.review-box {
    position: absolute;
    bottom: 20px;
    /* Adjust as needed */
    left: 20%;
    transform: translateX(-50%);

}

.add-review-button {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.add-review-button:hover {
    background-color: #0056b3;
}

/* Add these CSS rules to your existing CSS file or style component */

/* CSS for the rating modal content */
.rating-modal-content {
    background-color: #32749c;
    padding: 20px;
    border-radius: 10px;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    margin-top: 10%;
}

.btnrating {
    border: none;
    background: transparent;

}

/* CSS for rating options container */
.rating-options {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;

}

/* CSS for submit and close buttons */

.field-label-header {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;

}

.rating-submit-button,
.rating-close-button {
    background-color: #007bff;
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    margin-right: 10px;
    width: 120px;
    font-weight: bold;
    /* Same width for both buttons */
}

.btnrating:hover {
    background: transparent;
}

/* CSS for hover effect on buttons */
.rating-submit-button:hover,
.rating-close-button:hover {
    background-color: #542b9f;
}

/* CSS to center buttons */
.rating-button-container {
    display: flex;
    justify-content: center;
}

.fa-star {
    color: #000000;
    font-size: 30px;
    cursor: pointer;
    width: 100%;
}

.fa-star:hover {
    color: #ffcc00;
}

.gold {
    color: #ffcc00;
}