/* SideBar.css */

.sidebar-container {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;

  background-color: #060b26;
  width: 100px;
}

.side-menu-items {
  margin-top: 80px;
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.side-menu-items a {
  text-decoration: none;
  color: #fff;
  width: 100%;
  /* Take full width */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Align child items at the center */
  margin-top: 15%;
}

.side-menu-items a:hover {
  text-decoration: none;
}

.home-bar,
.discover-bar,
.account-bar,
.logout-bar,
.feed-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  height: 100px;
}

.home-bar:hover,
.discover-bar:hover,
.account-bar:hover,
.logout-bar:hover,
.feed-bar:hover {
  background-color: #2c70be;
}

.side-bar-icon {
  font-size: 40px;
}

.side-bar-title {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
  text-align: center;
}

.home-bar {
  margin-top: 20px;

}

.logout-bar {

  margin-top: auto;
  /* Align at the bottom */
  margin-bottom: 150px;
}

