/* Account.css */

.account-container {
    display: flex;
    flex-direction: column;   
    width: 100%;
    margin: auto;
    padding: 100px;
    background-color: #032641;           
}

.account-header {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
}

.account-details {
    padding: 20px;
}

.username-section {
    margin-bottom: 15px;
}

.profile-picture-section {
    text-align: left;
    margin-bottom: 20px;
}

.profile-picture {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #fff;
}

.form-section {
    margin-bottom: 15px;
}

/* Styles for h3 and label */
.account-container h3 {
    color: #fff;
    font-size: 26px;
    margin-bottom: 10px;
}

.account-container label {
    color: #fff;
    font-size: 26px;
    margin-bottom: 5px;
    margin-right: 20px;
   
}
.account-container input{
   
    padding: 10px;
    
    font-size: 26px;
    margin-bottom: 10px;
    margin-right: 20px;
}
.account-container button{
    background-color: #5755de;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 20%;
    font-size: 26px;
}

/* Add more styles as needed */
