/* Feed.css */

.feed-container {
    margin-top: 120px;
    margin-left: 150px;
    margin-right: 100px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    color: white;
}

.feedWrapper {
    width: 100%;
    max-width: 1000px;
    padding: 20px;
}

.post {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #1e3b85;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 16px;
}

.post p {
    margin-bottom: 10px;
    font-size: 20px;
}

.comments {
    margin-top: 10px;
}

.comment:nth-child(even) {
    background-color: #117d76;
}

.comment {
    background-color: #8847d3;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    font-size: 15px;
}

.feed-container button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}

.feed-container button:hover {
    background-color: #45a049;
}

.feed-container textarea,
.feed-container input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.feed-container textarea:focus,
.feed-container input[type="text"]:focus {
    outline: none;
    border-color: #4CAF50;
}

.feed-container .post form {
    margin-top: 10px;
}

.upvote-container {
    display: flex;
    margin-bottom: 10px;
}




.user-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 20px;
    color: violet;
}

.feed-container img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-info span {}

.followed-users-container {
    display: flex;
    justify-content: space-between;

}

.followed-users-container>div {
    flex: 1;

}

/* Add styles for the red and green buttons */
.followed-users-container .unfollow-button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.followed-users-container .follow-button {
    background-color: green;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.followed-users-container .unfollow-button:hover {
    background-color: green;
}

.followed-users-container .follow-button:hover {
    background-color: red;
}

.followed-users-container li {
    list-style-type: none;
    margin-bottom: 10px;
    font-size: 18px;
}