

.home-container {
    margin-top: 60px; /* Adjust the margin-top to accommodate the fixed navbar */
    padding: 20px; /* Add padding as needed */
    /* background-color: #063a41; */
    --tmdbDarkBlue: 3,37,65;
    background-color: rgba(var(--tmdbDarkBlue),1);
}

.home-content {
    max-width: 800px; /* Set a maximum width for your content */
    margin: 0 auto; /* Center the content horizontally */
}

h1 {
    font-size: 2em; /* Adjust the font size as needed */
    color: #333; /* Set the text color */
}
