* {
  margin: 0;
  padding: 0;


}

.navbar-container {
  background-color: #060b26;
  height: 80px;
  /* Dark background color for the entire navbar */
  /* Add some padding to the navbar container */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  /* Specify a height for the navbar container */
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;


}

.navbar-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 150px;
  gap: 20px;
  margin-bottom: 40px;
}

.navbar-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 40px;
  gap: 20px;

}

.navbar-right button {
  margin-left: 20px;
  /* Add some margin between buttons */
  padding: 8px 16px;
  /* Add padding to the buttons */
  background-color: #007bff;
  /* Button background color */
  color: #fff;
  font-size: large;
  /* Button text color */
  border: none;
  /* Remove button border */
  cursor: pointer;
  /* Add pointer cursor on hover */
  border-radius: 5px;
  /* Add border-radius to the buttons */
}

.navbar-right button:hover {
  background-color: #07a4a4;
  /* Change background color on hover */
  transform: scale(1.3);
  /* Increase button size on hover */
}
a{
  text-decoration: none;
  }
a:hover{
  text-decoration: none;
}
.navbar-left h1{
  background: linear-gradient(to right, #b46ad4, #2373a8);
  -webkit-background-clip: text;
  color: transparent;


}