/* SideBar.css */

.sidebar-container {

  background-color: #060b26;
}

.side-menu {
  height: 100vh;
  position: fixed;
  background-color: #060b26;
  left: 0;
}

.side-menu-items {
  margin-top: 50px;
  width: 100px;
  display: flex;
  flex-direction: column;

  /* Set the ITEMs at center of the sidebar */

}

.side-menu-items li {
  display: flex;
  align-items: center;
  justify-content: center;
  /* Center items vertically */



}

.side-menu-items li:hover {
  background-color: #1a83ff;
  /* Hover background color */
}

.side-bar-icon {
  padding-top: 15px;
  font-size: 30px;

  /* Adjust the centre as needed */

}

.side-bar-title {
  color: #fff;
  /* Text color */
  font-size: 18px;
  /* Adjust the font size as needed */
  padding-bottom: 12px;
}

.side-menu-two-items.selected {
  background-color: #1a83ff;
  /* Set the background color for the selected item */
}