.MediaDiv {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
}






.MediaDiv ul {
    display: flex;
    margin: 0;
}

.MediaDiv li {
    list-style: none;
    margin: 10px;
    padding: 10px;
    width: 210px;
    border: 2px solid #ffffff;
    border-radius: 5px;
    transition: 0.3s;
}

.MediaDiv img {
    width: 196px;
    height: 200px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.MediaDiv img:hover {
    transform: scale(1.05);
}

.MediaDiv p {
    font-size: 20px;
    margin: 2px;
    text-align: center;
    color: #ffffff;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 180px;
    /* Adjust the max-width based on your container's width */
}

.MediaDiv::-webkit-scrollbar {
    padding-top: 10px;
    height: 10px;
}

.MediaDiv::-webkit-scrollbar-thumb {
    background-color: #33539d;
}

.MediaDiv::-webkit-scrollbar-track {
    background-color: #000000;
}


.media-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}



.media-button-container {

    display: flex;
    margin-top: auto;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 5px;
}

.fa-star-div {
    color: #fff;
    font-size: 20px;


}



.heart-icon {
    margin-top: 5px;
    font-size: 25px;
}

.heart-icon:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.heart-icon:not(.favorite) {
    color: rgb(104, 104, 104);
    cursor: pointer;
}

.heart-icon.favorite {
    color: rgb(200, 20, 59);
    cursor: pointer;
}






.popup-content {
    color: #fff;
    /* Text color */
    padding: 20px;
    /* Padding for content */
    position: relative;
    /* To position the close icon */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.popup-content label {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    cursor: pointer;
}

.popup-content select {
    width: 50%;
    padding: 8px;
    margin-bottom: 20px;
    background-color: #c1cad0;
    cursor: pointer;
}

.popup-content button:hover {
    background-color: #2980b9;
}


.popup-content img {
    width: 30%;
    height: auto;


}

.popup-content p {
    cursor: pointer;
}

.popup-content button {
    cursor: pointer;
    background-color: #2980b9;
    width: 80px;
    height: 40px;
}

.popup-content button:hover {
    border: none;
}

.close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 1.5em;
}






.add-icon {
    color: rgb(99, 73, 172);
    font-size: 32px;
}

.add-icon:hover {
    color: rgb(62, 156, 120);
    cursor: pointer;

}



a {
    text-decoration: none;

}

a:hover {
    text-decoration: none;
    /*make it large on hover*/

}