/* mediaDetails.css */

.MediaDetails-container {
    color: #ffffff;
}

.backdrop {
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 40%;

}

.details {
    position: absolute;
    top: 55%;
    left: 5%;


}

.poster {
    width: 200px;
    border: 5px solid #000000;
    margin-bottom: 5px;



}

.media-details-info-div {

    position: absolute;
    top: 42%;
    left: 25%;
    color: #ffffff;
    display: block;
    font-size: 20px;



}

.media-overview {
    position: absolute;
    color: #ffffff;
    top: 60%;
    left: 5%;
    right: 20%;
    font-size: 20px;
}

/* mediaDetails.css */

/* Existing CSS... */

.review-textbox {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    /* Allow vertical resizing */
}


.review-box {
    position: absolute;
    bottom: 20px;
    /* Adjust as needed */
    left: 20%;
    transform: translateX(-50%);

}

.add-review-button {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.add-review-button:hover {
    background-color: #0056b3;
}

/* mediaDetails.css */

/* Existing CSS... */

.rating-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #032641;
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    height: 500px;        
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rating-modal h2 {
    margin-bottom: 20px;
}

.rating-options {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.rating-options button {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
}

.rating-options button:hover {
    background-color: #0056b3;
}

.rating-options button:last-child {
    margin-right: 0;
}

.rating-modal button {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.rating-modal button:hover {
    background-color: #7830d5;
}