.auth-form-container,
.login-form,
.register-form {
    display: flex;
    flex-direction: column;
}


@media screen and (min-width: 600px) {
    .auth-form-container {
        padding: 4rem;
        border: 3px solid rgb(255, 255, 255);
        border-radius: 10px;
        margin: 0.5rem;
    }
}

label {
    text-align: left;
    font-size: 18px;
    margin: 0.5rem 0;
    color: white;


}

input {
    margin: 0.5rem 0;
    padding: 8px;
    border: none;
    border-radius: 10px;
}

button {
    border: none;
    width: 100%;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    color: #7439db;
    transition-duration: 0.4s;
    margin-top: 2%;    
    font-weight: bold;


}

button:hover {
    background-color: #000000;
    /* Green */
    color: white;
}

.link-btn {
    background: none;
    color: white;
    text-decoration: underline;
    width: 100%;
    font-weight: normal;
}

label {
    display: block;
    margin-right: 10px;
}