/* Discover.css */

.discover-page {
    margin-top: 90px;
    margin-left: 150px;
    color: #fff;
}

.discover-container {
    display: flex;
    justify-content: space-between;
    /* Ensure filter container and media items are spaced */
    width: 100%;
}

.search-container {
    margin-top: 20px;
    text-align: center;
    width: 80%;
}

.search-input {
    padding: 10px;
    width: 500px;
    border: 2px solid #ccc;
    height: 50px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    font-size: 16px;
    outline: none;
}

.search-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    height: 50px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-button:hover {
    background-color: #0056b3;
}

.media-items {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.media-card {
    width: 150px;
    /* Adjust card width based on design preference */
    margin-bottom: 20px;
    margin-right: 20px;
    /* Add spacing between cards */
}

.media-card img {
    width: 100%;
    height: auto;


}

.media-poster-badge {
    position: relative;
}


.badge {
    position: absolute;
    background-color: #892df1;
    color: #fff;
    padding: 5px 5px;
    top: 0px;
    right: 0px;
    font-size: 15px;

}

.pagination {


    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 30px;
}

.pagination ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.pagination li {
    margin: 0 5px;
    /* Adjust spacing between pagination items */
}

.pagination button {
    padding: 5px 10px;
    background-color: #4a34b7;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    /*increase size*/
    font-size: 20px;
}

.pagination button:hover {
    background-color: #ffffff;
}

.filter-container {
    color: #ccc;
    margin-left: 20px;
    position: fixed;
    right: 200px;
    /* Align filter container to the right side */
    top: 200px;
    /* Adjust top position based on design preference */
}

.filter-option {
    margin-bottom: 10px;
}