.moderatorannounce-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: wheat;
  }
  
  .moderatorannounce-content {
    display: flex;
    justify-content: space-between;
    max-width: 900px;

  }
  
  .announcements,
  .add-announcement {
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .announcements {
    padding-right: 20px;
    border-right: 1px solid #ccc; /* Add partition between segments */
  }
  
  .announcement-item {
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .add-announcement form {
    display: flex;
    flex-direction: column;
  }
  
  .add-announcement input,
  .add-announcement textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .add-announcement button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .add-announcement button:hover {
    background-color: #0056b3;
  }
  