
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
  }
  
.navbar-container {
  background-color:#060b26;; /* Dark background color for the entire navbar */
  padding: 10px 20px; /* Add some padding to the navbar container */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  height: 80px; /* Specify a height for the navbar container */
  top: 0;
  left: 0;
  position: fixed;
  width: 100%; 
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-left h1 {
  margin-left: 20px; /* Add some margin to the left of the h1 element */
  color: #fff; /* Text color for the heading */
}

.navbar-right button {
  margin-left: 10px; /* Add some margin between buttons */
  padding: 8px 16px; /* Add padding to the buttons */
  background-color: #007bff; /* Button background color */
  color: #fff; /* Button text color */
  border: none; /* Remove button border */
  cursor: pointer; /* Add pointer cursor on hover */
  border-radius: 5px; /* Add border-radius to the buttons */
}

.navbar-right button:hover {
  background-color: #07a4a4; /* Change background color on hover */
}
