/* Discover.css */

.discover-page {
    margin-top: 100px;
    margin-left: 150px;
    color: #fff;
}

.discover-container {
    display: flex;
    justify-content: space-between;
    /* Ensure filter container and media items are spaced */
    width: 100%;
}

.search-container {
    margin-top: 20px;
    text-align: center;
    width: 75%;
}

.search-input {
    padding: 10px;
    width: 500px;
    border: 2px solid #ccc;
    height: 50px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    font-size: 20px;
    outline: none;
}

.search-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-button:hover {
    background-color: #0056b3;
}

.media-items {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;

}

.media-card {
    width: 200px;
    /* Adjust card width based on design preference */
    margin-bottom: 30px;
    margin-right: 30px;
    /* Add spacing between cards */
    border: 2px solid #ffffff;
}

.media-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    /* Ensure image fills the card */
}

.media-poster-badge {
    position: relative;
}

.badge {
    position: absolute;
    background-color: #892df1;
    color: #fff;
    padding: 5px 5px;
    top: 0px;
    right: 0px;
    font-size: 16px;
}

.pagination {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 30px;
}

.pagination ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.pagination li {
    margin: 0 5px;
    /* Adjust spacing between pagination items */
}

.pagination button {
    padding: 5px 10px;
    background-color: #4a34b7;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    /*increase size*/
    font-size: 20px;
}

.pagination button:hover {
    background-color: #ffffff;
}



.discover-button-container {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.discover-media-title {
    font-size: 20px;
    margin-top: 20px;
    padding: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* New styles for genre container and filter buttons */
.filter-container {
    position: absolute;


    color: #ccc;
    margin-left: 20px;

    left: 77%;
    /* Align filter container to the right side */
    top: 20%;
    /* Adjust top position based on design preference */
}

.filter-option {
    margin-bottom: 10px;
}

.filter-button {
    background-color: #209246;
    font-size: 25px;
    color: #fff;
    padding: 5px 10px;
    border: none;
    margin-top: 30px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}



.filter-button:hover {
    background-color: #0056b3;
}

/* CSS for the dropdown menu */
.dropdown.show .dropdown-menu {
    background-color: #1d1616;
    /* Dark background color */
    color: #fff;
    /* White font color */
    padding: 10px;
    border: none;
}

/* CSS for the filter options within the dropdown menu */
.dropdown.show .dropdown-menu .filter-option {
    margin-bottom: 10px;
}

/* CSS for the labels within the filter options */
.dropdown.show .dropdown-menu label {
    margin-left: 5px;
    font-size: 20px;
}

/* CSS for the checkboxes */
.dropdown.show .dropdown-menu input[type="checkbox"] {
    width: 20px;
    /* Increase checkbox size */
    height: 20px;
    /* Increase checkbox size */
    margin-right: 5px;
}

.genre-container {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.genre-button {
    background-color: #4a34b7;
    font-size: 20px;
    color: #fff;
    padding: 5px 10px;
    border: none;
    margin-right: 15px;
    margin-bottom: 15px;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

.rating-container {
    margin-top: 20px;
}

input[type='range'] {
    width: 30%;
    height: 12px;
    -webkit-appearance: none;
    appearance: none;
    background-color: #6f34a7;
    outline: none;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #007bff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

output {
    display: block;
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
    color: #007bff;
    font-weight: bold;
}

.year-selection-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: space-between;

}

.year-dropdown {
    width: 60%;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    outline: none;
}

.sort-by-section {
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;


}

.sort-dropdown {
    margin-top: 20px;
    width: 100%;
    font-size: 18px;
    border-radius: 5px;
    background-color: #4268a1;
    cursor: pointer;
    transition: background-color 0.3s ease;
}



.sort-dropdown:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}


.mediaType-container {
    display: flex;
    font-size: 20px;
    font-weight: bold;
}

.checkboxes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}


/* Style for the label associated with the checkbox */
.checkbox-container label {
    margin-left: 10px;
    font-size: 23px;
    /* Adjust the font size of the label */

}


.checkbox-container input[type="checkbox"] {
    transform: scale(1.1);
    /* Adjust the scale factor as needed */

    display: inline-block;
    width: 20px;
    height: 20px;

}

/* Create the custom checkbox appearance */
.checkbox-container input[type="checkbox"]::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 3px;
}