.Listdiv h1 {
    text-align: center;
    margin-top: 1%;
    margin-bottom: 2%;

}

.Listdiv table {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    border: 3px solid #2a2a2a;
    text-align: center;
}

.Listdiv th {
    border: 3px solid #2a2a2a;
    padding: 10px;
    font-size: 20px;
    background-color: #2a2a2a;
    color: white;

}

.Listdiv tr {
    border: 3px solid #010000;
    font-size: 20px;
    background-color: #ffffff;
}

.Listdiv td {

    font-size: 25px;
    background-color: #ffffff;
    color: rgb(0, 0, 130);
    padding: 12px;
}